body{
    color: #7c7d8d;
    color: #363741;
    color: #cdcdd6;

    color: #f0f2f4;
    color: #e2e4e9;
    color: #c4c9d4;
    color: #98a1b3;
    color: #7b869d;
    color: #6c7893;
    color: #58627d;
    color: #404653;
    color: #363c49;
    color: #2b303b;
    color: #21242c;
    border
}